body {
  background: #1B1F24;
  color: #fff;
}

.find-over {
  border-radius: 5px;
  background: #F1F4F6;
  color: #1D2126;
  padding: .5rem 2rem;
  text-align: center;
  margin-top: 5rem;
}

.find-over span {
  font-weight: bold;
}

.apply-search {
  margin-top: 3rem;
  border-radius: 5px;
  background: #F1F4F6;
  color: #1D2126;
  padding: 1rem 2rem;
}

.input-search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form-cus-control {
  padding: 0.6rem 1rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
}

.form-cus-control:focus {
  outline: none;
}

.form-select-control {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.form-select-control:focus {
  outline: none;
}


.event-list {
  margin-top: 5rem;
  color: #1D2126;
}


.filter-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cust-label {
  margin-right: .5rem;
}